# URL pública de la aplicación que aloja el servidor SSR y Proxy Nginx
# En Dokploy, apunta a tu subdominio público asignado al contenedor de la web
# Ejemplo: https://sgmm.tuservidor.com
VITE_SERVER_URL=http://localhost
