# URL pública que usa el navegador para hablar con Better Auth
# Ejemplo: https://authsgmm.indroic.dev
VITE_AUTH_URL=https://authsgmm.indroic.dev

# URL pública del backend API para el frontend
# Ejemplo: https://apisgmm.indroic.dev
VITE_API_URL=https://apisgmm.indroic.dev
