# Puerto de escucha local
PORT=8000

# Base de datos persistente SQLite (Volumen Docker)
SQL_DATABASE_URL=sqlite:////app/data/sgmm.db
ASYNC_SQL_DATABASE_URL=sqlite+aiosqlite:////app/data/sgmm.db

# URL del servidor de autenticación de Better Auth
# En la red Dokploy, apunta al nombre de host del contenedor de autenticación
BETTER_AUTH_URL=http://auth-server:3000
JWKS_URL=http://auth-server:3000/api/auth/jwks
