# Puerto de escucha local
PORT=3000
NODE_ENV=production

# Base de datos de infraestructura (Postgres)
# En Dokploy, usa las credenciales del contenedor postgres:
# postgresql://<user>:<password>@postgres:5432/<db_name>
DATABASE_URL=postgresql://postgres:postgres_secure_password@postgres:5432/sgmm_auth_db

# Clave secreta para Better Auth (mínimo 32 caracteres aleatorios)
BETTER_AUTH_SECRET=generar_clave_secreta_de_minimo_32_caracteres_aqui

# URL de Better Auth expuesta
# En producción con proxy Nginx en web, debe coincidir con la URL pública principal de la web
BETTER_AUTH_URL=http://localhost
CORS_ORIGIN=http://localhost
